.section__button--outlined {
    /* shape */
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    border: 2px solid $color-primary;

    &:hover {
        border: none;
        background-color: $color-primary;
        color: $color-light;
        transform: scale(1.1, 1.1);
    }

    @include tablet {
        width: 160px;
        height: 45px;
    }

    /* style */
    background-color: $color-light;
    font-size: $l;
    line-height: 45px;
    font-weight: $regular;
    color: $color-primary;
    text-align: center;
}

.section__button--filled {
    /* style */
    font-size: $l;
    line-height: 45px;
    font-weight: $medium;
    color: $color-light;
    text-align: center;
    border: none;

    &:hover {
        border: 2px solid $color-primary;
        background-color: $color-light;
        color: $color-primary;
        transform: scale(1.1, 1.1);
    }
}
