<footer class="footer">
    <div class="footer__arrow"></div>
    <nav class="footer__menu">
        <ul class="menu__list">
            <li class="list__item">
                <a
                    href="https://adalab.es/"
                    class="menu__item--link"
                    title="Ir a la web de Adalab"
                    target="_blank"
                    >articles</a
                >
            </li>
            <li class="list__item">
                <a
                    href="https://adalab.es/"
                    class="menu__item--link"
                    title="Ir a la web de Adalab"
                    target="_blank"
                    >books</a
                >
            </li>
            <li class="list__item">
                <a
                    href="https://adalab.es/"
                    class="menu__item--link"
                    title="Ir a la web de Adalab"
                    target="_blank"
                    >events</a
                >
            </li>
            <li class="list__item">
                <a
                    href="https://adalab.es/"
                    class="menu__item--link"
                    title="Ir a la web de Adalab"
                    target="_blank"
                    >reasons</a
                >
            </li>
            <li class="list__item">
                <a
                    href="https://adalab.es/"
                    class="menu__item--link"
                    title="Ir a la web de Adalab"
                    target="_blank"
                    >tips</a
                >
            </li>
        </ul>
    </nav>

    <ul class="socialmedia__list">
        <li class="list__item">
            <a
                href="https://adalab.es/"
                class="menu__item--link"
                title="Ir a la web de Adalab"
                target="_blank"
                >twitter</a
            >
        </li>
        <li class="list__item">
            <a
                href="https://adalab.es/"
                class="menu__item--link"
                title="Ir a la web de Adalab"
                target="_blank"
                >instagram</a
            >
        </li>
        <li class="list__item">
            <a
                href="https://adalab.es/"
                class="menu__item--link"
                title="Ir a la web de Adalab"
                target="_blank"
                >mastodon.social</a
            >
        </li>
    </ul>
    <span>&copy;2017</span>
    <span>we love components</span>
</footer>
