<section class="section__reasons">
    <h2 class="section__title">3 reasons to purchase</h2>
    <article class="article-1">
        <h3 class="article__title">Ut sed metus</h3>
        <p class="article__content">Lorem ipsum dolor sit amet, consecteur.</p>
    </article>
    <article class="article-2">
        <h3 class="article__title">Curabitur ac erat</h3>
        <p class="article__content">Mauris mattis urna quis lorem molestie.</p>
    </article>
    <article class="article-3">
        <h3 class="article__title">Morbi dictum</h3>
        <p class="article__content">Aliquam in dolor et dolor tincidunt.</p>
    </article>
    <div class="section__button-filled">More reasons</div>
</section>
