<section class="section__reasons">
    <h2 class="section__title">3 reasons to purchase</h2>
    <div class="articles__grid">
    <article class="article article--1">
        <h3 class="article__title">Ut sed metus</h3>
        <p class="article__paragraph"></p>
            Lorem ipsum dolor sit amet, consecteur.
        </p>
    </article>
    <article class="article article--2">
        <h3 class="article__title">Curabitur ac erat</h3>
        <p class="article__paragraph">
            Mauris mattis urna quis lorem molestie.
        </p>
    </article>
    <article class="article article--3">
        <h3 class="article__title">Morbi dictum</h3>
        <p class="article__paragraph">Aliquam in dolor et dolor tincidunt.</p>
    </article>
</div>
    <div class="section__button--filled">More reasons</div>
</section>
