/* HEADER */

.hero__title {
    font-family: $font-emphatic;
    font-weight: $bold;
    font-size: 42px;
    line-height: 55px;
    color: $color-light;
    text-shadow: $shadow-text;
    text-transform: uppercase;
    text-align: center;

    @include tablet {
        font-size: 80px;
        line-height: 106px;
    }

    @include desktop {
        font-size: 100px;
        line-height: 132px;
    }
}

.hero__subtitle {
    font-weight: $regular;
    font-size: $s;
    color: $color-light;
    text-align: center;

    @include tablet {
        font-size: $xl;
    }
}

/* MAIN */

/* section tips */
.section__category {
    font-size: $xs;
    line-height: 1.88px;
    color: $color-auxiliary-text;
    text-transform: capitalize;
    margin-bottom: 2px;

    @include desktop {
        font-size: $s;
    }
}

.section__title {
    font-family: $font-emphatic;
    font-size: $xl;
    color: $color-dark;
    text-transform: capitalize;
}

.section__paragraph {
    font-weight: $regular;
    font-size: $m;
    color: $color-medium;
    margin-top: 30px;
    margin-bottom: 30px;
}

.section__button--outlined {
    font-size: $l;
    line-height: 45px;
    font-weight: $regular;
    color: $color-primary;
    text-align: center;
}

/* section reasons */
.article__title {
    font-family: $font-emphatic;
    font-weight: $bold;
    font-size: $m;
    color: $color-dark;
    text-align: center;

    @include tablet {
        font-size: $xl;
    }
}

.article__paragraph {
    font-size: $m;
    color: $color-dark;

    @include tablet {
        font-size: $l;
    }
}

.section__button--filled {
    font-size: $l;
    line-height: 45px;
    font-weight: $medium;
    color: $color-light;
}

/* FOOTER */

.list__item {
    font-size: $s;
    color: $color-light;
    text-transform: uppercase;
    text-align: center;

    @include tablet {
        text-align: left;
    }
}

.footer__copy {
    font-size: $xs;
    color: $color-light;
}
