/* HEADER */

.hero__title {
    font-family: $font-emphatic;
    font-weight: $bold;
    font-size: 2.625rem;
    line-height: 3.438rem;
    color: $color-light;
    text-shadow: $shadow-text;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;

    @include tablet {
        font-size: 5rem;
        line-height: 6.625rem;
    }

    @include desktop {
        font-size: 6.25rem;
        line-height: 8.25rem;
    }
}

.hero__subtitle {
    font-weight: $regular;
    font-size: $s;
    color: $color-light;
    text-align: center;

    @include tablet {
        font-size: $xl;
    }
}

/* MAIN */

/* section tips */
.section__category {
    font-size: $xs;
    line-height: 0.118rem;
    color: $color-auxiliary-text;
    text-transform: capitalize;
    margin-bottom: 2px;

    @include desktop {
        font-size: $s;
    }
}

.section__title {
    font-family: $font-emphatic;
    font-size: $xl;
    color: $color-dark;
    text-transform: capitalize;
    @include tablet {
        font-size: 1.625rem;
    }
}

.section__paragraph {
    font-weight: $regular;
    font-size: $m;
    color: $color-medium;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* section reasons */
.article__title {
    font-family: $font-emphatic;
    font-weight: $bold;
    font-size: $m;
    color: $color-dark;
    text-align: center;
    padding-bottom: 2px;

    @include tablet {
        font-size: $xl;
        padding-bottom: 14px;
    }
}

.article__paragraph {
    font-size: $m;
    color: $color-dark;
    padding-bottom: 45px;

    @include tablet {
        font-size: $l;
    }
}

/* FOOTER */

.list__item {
    font-size: $s;
    color: $color-light;
    text-transform: uppercase;
    text-align: center;

    @include tablet {
        text-align: left;
    }
}

.footer__copy {
    font-size: $xs;
    color: $color-light;
    text-align: center;

    @include tablet {
        text-align: left;
    }
}
