/* COLORS */
$color-primary: #f26002;
$color-secondary: #eff9ff;
$color-tertiary: #304268;
$color-auxiliary: #0271bc;
$color-auxiliary-text: #8ccbea;
$color-light: #ffffff;
$color-medium: #4a4a4a;
$color-dark: #000000;

/* BREAKPOINTS */
$tablet: 768px;
$desktop: 1200px;
