.hero {
    height: 100vh;
    background: url("../images/cover.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &__title {
        text-transform: uppercase;
        font-family: "Roboto Slab", serif;
        font-size: 42px;
        line-height: 55px;
        color: $color-light;
        text-shadow: $shadow-text;
    }

    & p {
        color: $color-light;
        font-size: 16px;
        margin-top: 10px;
    }

    &__button {
        background: $color-light;
        width: 45px;
        height: 45px;
        border-radius: 50%;

        @include tablet {
            transform: translate(1050%, 250%);
        }

        & img {
            padding: 17px 12px 17px 12px;
        }
    }
}
