* {
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}

html {
    font-family: $font-basic;
    font-size: 16px;
    line-height: 30px;
    scroll-behavior: smooth;
}

a h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

/* WRAPPER */

.section__tips,
.hero,
.section__reasons,
.footer {
    margin-right: auto;
    margin-left: auto;
    padding: 0px 15px 0px 15px;
    @include tablet {
        padding: 0px 39px 0px 39px;
    }
    @include desktop {
        padding: 0px 81px 0px 81px;
    }
}
