.section__reasons {
    background-color: $color-secondary;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
}

.articles__grid {
    display: grid;
    grid-template: repeat(8, 1fr);
    grid-row: repeat(3, 1fr);
    padding-top: 45px;
}

.article {
    max-width: 184px;
    @include tablet {
        max-width: 210px;
    }
    @include tablet {
        max-width: 350px;
    }
    justify-self: center;
}

.article--1 {
    @include tablet {
        grid-column: 1/4;
    }
}

.article--2 {
    @include tablet {
        grid-column: 4/6;
    }
}

.article--3 {
    @include tablet {
        grid-column: 6/9;
    }
}
