.section__reasons {
    background-color: $color-secondary;
    display: grid;
    grid-template: repeat(6, 1fr);
    grid-row: 125px, 373px, 125px;
    text-align: center;
    align-items: center;
}

.section__title {
    grid-column: span 6;
    padding-top: 30px;
}

.article {
    grid-column: span 6;
    margin: 45px 60px;

    @include tablet {
        margin: 45px 30px;
    }
}

.article--1 {
    @include tablet {
        grid-column: 1/3;
    }
}

.article--2 {
    @include tablet {
        grid-column: 3/5;
    }
}

.article--3 {
    @include tablet {
        grid-column: 5/7;
    }
}

.section__button-filled {
    grid-column: span 6;
    color: $color-light;
    font-weight: 500;
    font-size: 20px;
    line-height: 45px;
    background-color: $color-primary;
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    margin: auto;
    margin-bottom: 60px;
}

.section__title,
.article-1,
.article-2,
.article-3,
.section__button-filled {
    border: 1px solid blueviolet;
}
