.section__tips {
    background-color: $color-light;
    display: flex;
    justify-content: space-around;
}

.section__button--outlined {
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    border: 2px solid $color-primary;

    @include tablet {
        width: 160px;
        height: 45px;
    }
}

.wrapper {
    border: 1px solid red;
    padding: 30px 15px 45px 15px;
    margin: auto;

    @include tablet {
        max-width: 95%;
    }
    @include desktop {
        max-width: 70%;
    }
}
