.section__tips {
    background-color: $color-light;
    display: flex;
    justify-content: space-around;
}

/* WRAPPER */

.section__tips {
    padding: 30px 15px 45px 15px;
    @include tablet {
        padding: 30px 15px 60px 15px;
        max-width: 95%;
    }
    @include desktop {
        padding: 60px 15px 60px 15px;
        max-width: 70%;
    }
}
